body {
  /* margin: 0; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

button {
  height: 50px;
  width: 120px;

  font-weight: 400;
  font-size: 100%;
  text-transform: uppercase;
}
